<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facilities Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar has-background-white" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <h1 style="font-family: Ubuntu; font-size: 25px;" id="Logo" class="p-5 has-text-dark">COMPLAINTMENTS</h1>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" style="font-family: Ubuntu;">Home</a>
                    <a class="navbar-item p-5" style="font-family: Ubuntu;">Make a complaint</a>
                    <a class="navbar-item" style="font-family: Ubuntu;">About</a>
                    <a class="navbar-item p-5">Guidelines</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">My Library</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">My Complaints</a>
                            <a class="navbar-item">My Chats</a>
                            <a class="navbar-item">Profile</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-dark" style="font-family: Ubuntu;"><strong>Sign up</strong></a>
                            <a class="button is-light" style="font-family: Ubuntu;">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="facilitiesformbackground has-background-black">
    <div class="container p-5">
               <div class="field">
            <form method="POST" action="/submit">
                <h1 class="is-size-1 mt-5 has-text-dark">Facilities Form</h1>
                <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Textarea" name="message" required></textarea>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" name="submit" type="submit">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light" type="reset">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>