<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facilities Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@8.0.0-beta.1/minified/intro.min.css">
</head>
<body>
    <nav class="navbar has-background-white" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <h1 style="font-family: Ubuntu; font-size: 25px;" id="Logo" class="p-5 has-text-dark">COMPLAINTMENTS</h1>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" style="font-family: Ubuntu;">Home</a>
                    <a class="navbar-item p-5" style="font-family: Ubuntu;">Make a complaint</a>
                    <a class="navbar-item" style="font-family: Ubuntu;">About</a>
                    <a class="navbar-item p-5">Guidelines</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">My Library</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">My Complaints</a>
                            <a class="navbar-item">My Chats</a>
                            <a class="navbar-item">Profile</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-dark" style="font-family: Ubuntu;"><strong>Sign up</strong></a>
                            <a class="button is-light" style="font-family: Ubuntu;">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="facilitiesformbackground has-background-black-bis" >
    <div class="container p-5">
               <div class="field">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <h1 class="mt-5 mb-2 has-text-white" style="font-family: 'Kaisei Tokumin';font-size: 50px;">Facilities Form</h1>

                <div>
                     <ol type="1" class="p-2">
                        <li class="mb-5 mt-2 has-text-white" style="font-family :'Ubuntu">Students can submit their complaints using this form for following facilities: <br> Bedroom, Bathroom, TV Room, Recreation Room, Prayer Room, Pantry, and Play Room. </li>
                        <li class="mb-5 mt-2 has-text-white" style="font-family :'Ubuntu">Please ensure that all complaints are explained clearly and avoid using any inappropriate language or cussing in your submissions.</li>
                        <li class="mb-5 mt-2 has-text-white" style="font-family :'Ubuntu">Please provide pictures to ensure the hostel department take heavy notes on your complaints.</li>
                     </ol>
                </div>
                

          

<div>
    <h1 class="has-text-white mb-3 mt-5" style="font-family: 'Ubuntu' ; font-size:20px">Room Type</h1>
    <div class="select mb-5">
  <select>
    <option>Room</option>
    <option>With options</option>
  </select>
</div>
</div>

<div class="field" style="font-family: Ubuntu; font-size: 20px;">
    {{form.message.label(class="label has-text-white") }}

   {% if form.message.errors %}       
       {{form.message(class="form-control form-control-lg is-invalid")}}
       <div>
           {% for error in form.message.errors %}
           <span>{{ error }}</span>
           {% endfor %}
       </div>

   {% else %}
       {{form.message(class="control textarea" ,  placeholder='exp : I would like to express about my concerns regarding ...')}}
   {% endif %}                 
 </div>
                    

                          <div class="file has-name mb-5">
    <div class="container mt-5 mb-5">
        <h1 class="has-text-white mb-2" style="font-family: 'Ubuntu' ; font-size:20px">Image</h1>
  <label class="file-label">
    <input class="file-input" type="file" name="resume" />
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label" > Choose a file… </span>
    </span>
    <span class="file-name has-text-white"> Screen Shot 2017-07-29 at 15.54.25.png </span>
  </label>
  </div>
</div>
                </div>
                <div class="field is-grouped"  >
                    <div class="control">
                        <button class="button is-dark" name="submit" type="submit" id="submit">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light" type="reset" data-title="hello" data-intro="this is the cancel button" >Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/intro.js@8.0.0-beta.1/minified/intro.min.js"></script>

    <script>
       introJs().setOptions({
       steps: [{
          intro: "Hello world!"
        }, {
          element: document.querySelector('#cancel'),
           intro: "Click here to login!"
         }]
          }).start();
        
    </script>
</body>
</html>