<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotions and Shoutout Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/intro.js/introjs.css">
</head>
<body>
    <nav class="navbar has-background-white" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <h1 style="font-family: Ubuntu; font-size: 25px;" id="Logo" class="p-5 has-text-dark">COMPLAINTMENTS</h1>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" style="font-family: Ubuntu;">Home</a>
                    <a class="navbar-item p-5" style="font-family: Ubuntu;">Make a complaint</a>
                    <a class="navbar-item" style="font-family: Ubuntu;">Announcements</a>
                    <a class="navbar-item p-5">Guidelines</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">My Library</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">My Complaints</a>
                            <a class="navbar-item">My Chats</a>
                            <a class="navbar-item">Profile</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% if current_user.is_authenticated %}
                           <div class="buttons">
                            <a class="button is-dark">{{ current_user.username }}</a>
                           </div>
          
                           {% else %}
          
                        <div class="buttons">
                          <a class="button is-dark" style="font-family: Ubuntu;" >
                            <strong>Sign up</strong>
                          </a>
                          <a class="button is-light" style="font-family: Ubuntu;">
                            Log in
                          </a>
                        </div>
                        {% endif %}
                      </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="facilitiesformbackground has-background-black-bis" >
    <div class="container p-5">
               <div class="field">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <h1 class="mt-5 mb-2 has-text-white" style="font-family: 'Kaisei Tokumin';font-size: 50px;" id="title">Promotion and Shoutout Form</h1>

                <div>
                     <ol type="1" class="p-2">
                        <li class="mb-5 mt-2 has-text-white" style="font-family :'Ubuntu'">Students can make an announcement regarding  promotions , businesses , and shoutouts! </li>
                        <li class="mb-5 mt-2 has-text-white" style="font-family :'Ubuntu'">Please ensure that all complaints are explained clearly and avoid using any inappropriate language or cussing in your submissions.</li>
                        <li class="mb-5 mt-2 has-text-white" style="font-family :'Ubuntu'">Please provide pictures to ensure the hostel department take heavy notes on your complaints.</li>
                     </ol>
                </div>
                

          




<div class="field" style="font-family: Ubuntu; font-size: 20px;" id="message">
<div>
    <h1 class="has-text-white mb-3 mt-5" style="font-family: 'Ubuntu' ; font-size:20px">Message</h1>

</div>
   {% if form.message.errors %}       
       {{form.message(class="form-control form-control-lg is-invalid")}}
       <div>
           {% for error in form.message.errors %}
           <span>{{ error }}</span>
           {% endfor %}
       </div>

   {% else %}
       {{form.message(class="control textarea" ,  placeholder='exp : I would like to make an announcement about our new business in hostel...')}}
   {% endif %}                 
 </div>

 <div class="field" style="font-family: Ubuntu; font-size: 20px;" id="fileImage">
<div>
    <h1 class="has-text-white mb-3 mt-5" style="font-family: 'Ubuntu' ; font-size:20px">Image</h1>

</div>
   {% if form.photo_evidence.errors %}       
       {{form.photo_evidence(class="form-control form-control-lg is-invalid")}}
       <div>
           {% for error in form.photo_evidence.errors %}
           <span>{{ error }}</span>
           {% endfor %}
       </div>

   {% else %}
       {{form.photo_evidence(class="control input mb-5")}}
   {% endif %}                 
 </div>
                    
                <div class="field is-grouped"  >
                    <div class="control">
                        <button class="button is-dark" name="submit" type="submit" id="submit">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light" id="cancel">Cancel</button>
                    </div>
                    <div class="column is-four-fifths">
                        <button class="button is-link is-light " style="background-color: transparent;" id="cancel"></button>
                    </div>
                    <div class="control">
                        <button id="help" class="button is link is-light mb-5 ml-6 float-end is-one-fifth">Help</button>
                    </div>
                    
                </div>
            </form>
        </div>

    
    </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/intro.js/intro.js"></script>
    <script>

let help = document.getElementById('help');

   help.addEventListener("focus" , () => {
     introJs().setOptions({
  steps: [{
    element : document.querySelector("#title"),
    intro : "1. Welcome to Promotion and Shoutout Form." 
  },{
    element: document.querySelector('#message'),
    intro: "2. Type your concerns/complaints/description message here" ,
   }, {
    element: document.querySelector('#fileImage'),
    intro: "3. Insert images or advertisements of your shoutous/businesses" ,
   },{
    element: document.querySelector('#submit'),
    intro: "4. Submit your complaints once it is done." ,
   }, {
    element: document.querySelector('#cancel'),
    intro: "5. Click here to clear your complaints." ,
    


  }]
}).start();
   });
        





    


        
    </script>
</body>
</html>