<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma-rtl.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/intro.js/introjs.css">

</head>
<body>
    <section class="hero is-primary is-fullheight">
        <h1 class="has-text-centered" style="font-size: 50px;"><br style="font-family: Ubuntu; color: white; ">COMPLAINTMENTS</h1>
        
 
       {% block content %}
        <div class="hero-body">
            
          <div class="container p-6 has-background-dark" style="background-color: white; border-radius: 20px;">
            <form action="" method="POST">
              {{ form.hidden_tag() }}
           

              <div class="container">
                <h1 class="is-size-3 mb-5 has-text-white" style="font-family: Ubuntu;">Sign Up</h1>
  
             
                  <div class="alert alert-danger">
                  
                  </div>
             
  
                  <div class="field" id="username">
                    {{form.username.label(class="label has-text-white")}}

                    {% if form.username.errors %}       
                        {{form.username(class="form-control form-control-lg is-invalid")}}
                        <div>
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.username(class="control input" , placeholder='exp : John Doe')}}
                    {% endif %}

                  <div class="field">
                    {{form.email.label(class="label has-text-white")}}

                    {% if form.email.errors %}       
                        {{form.email(class="form-control form-control-lg is-invalid")}}
                        <div>
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.email(class="control input" ,  placeholder='exp : johndoe@gmail.com')}}
                    {% endif %}

                  </div>

                   <div class="field">
                     {{form.hostelroom.label(class="label has-text-white")}}

                    {% if form.hostelroom.errors %}       
                        {{form.hostelroom(class="form-control form-control-lg is-invalid")}}
                        <div>
                            {% for error in form.hostelroom.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.hostelroom(class="control input" ,  placeholder='exp : HB2 A 301')}}
                    {% endif %}                 
                     </div>


                   <div class="field" id="password">
                    {{form.password.label(class="label has-text-white")}}

                    {% if form.password.errors %}       
                        {{form.password(class="form-control form-control-lg is-invalid")}}
                        <div>
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.password(class="control input" ,  placeholder='exp : johndoe123')}}
                    {% endif %}

                  </div>

                     <div class="field" id="confirmpassword">
                      {{form.confirmpassword.label(class="label has-text-white")}}

                      {% if form.confirmpassword.errors %}       
                          {{form.confirmpassword(class="control control-lg is-invalid")}}
                          <div>
                              {% for error in form.confirmpassword.errors %}
                              <span>{{ error }}</span>
                              {% endfor %}
                          </div>

                      {% else %}
                          {{form.confirmpassword(class="control input" , placeholder='exp : johndoe123')}}
                      {% endif %}

                     </div>


                
  
                  <div class="field is-grouped">
                    <div class="control">
                      {{form.submit(class="button is-link")}}
                    </div>
                  </div>

                  
        
            </div>
          
          </form>
          </div>
        </div>
        {% endblock content %}
      </section>

    

 
 


 
      

    <script>
      
    </script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> 
<script src="https://unpkg.com/intro.js/intro.js"></script>

</body>
</html>